<% body_class "login" %>
<div id="actionBox">
  <div class="boxBody obrigado">
    <img src="<%= asset_path( 'respect.svg' ) %>" class="icone" />
    <h1><strong>OBRIGADO</strong> PELA <br> SUA <strong>DOAÇÃO!</strong></h1>
    <a href="/" class="btn-white"> Quer Doar Mais?</a>
  </div>
</div>